**/.classpath **/.dockerignore **/.env **/.git **/.gitignore **/.project **/.settings **/.toolstarget **/.vs **/.vscode **/bin **/docker-compose*.yml **/node_modules **/npm-debug.log **/.nuget/packages **/obj **/.sln **/node_modules **/.AspNetCore.Identity.UI **/.azure **/.git **/dist **/swagger.json **
/*.user
**/
.DS_Store